head

    title About Us

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/css/about-us.css')

body

    .container.py-5
        .row.text-center.text-white
            .col-lg-8.mx-auto
                img#tess(src='/img/tessagon_icon.png')
                h1.display-4 Tessagon
                p.lead.mb-0
                    | Click on our names to find out more about us!


    .container
        .row.text-center
            // Team item
            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/us/dan.jpg' alt='' width='100')
                    h5.mb-0 Daniel Coleman
                    span.small.text-uppercase.text-muted Backend Developer
                    ul.social.mb-0.list-inline.mt-3
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-facebook-f
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-instagram
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-linkedin
            // End
            // Team item
            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/us/jono.jpeg' alt='' width='100')
                    h5.mb-0
                        a(href='/user/profile/jonosee') Jonathan See
                    span.small.text-uppercase.text-muted Frontend Developer
                    ul.social.mb-0.list-inline.mt-3
                        li.list-inline-item
                            a.social-link(href='https://www.facebook.com/jono.see11/')
                                i.fa.fa-facebook-f
                        li.list-inline-item
                            a.social-link(href='https://www.instagram.com/jono.see/')
                                i.fa.fa-instagram
                        li.list-inline-item
                            a.social-link(href='https://www.linkedin.com/in/jonathan-see-011/')
                                i.fa.fa-linkedin
            // End
            // Team item
            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/us/jones.jpg' alt='' width='100')
                    h5.mb-0 Jones Valayath
                    span.small.text-uppercase.text-muted Frontend Developer
                    ul.social.mb-0.list-inline.mt-3
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-facebook-f
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-instagram
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-linkedin
            // End
            // Team item
            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/us/mitch.png' alt='' width='100')
                    h5.mb-0 Mitchell French
                    span.small.text-uppercase.text-muted Backend Developer
                    ul.social.mb-0.list-inline.mt-3
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-facebook-f
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-instagram
                        li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-linkedin


            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/us/naz.jpg' alt='' width='100')
                    h5.mb-0 Naz Hashem
                    span.small.text-uppercase.text-muted Backend Developer
                    ul.social.mb-0.list-inline.mt-3
                        //li.list-inline-item
                            a.social-link(href='')
                                i.fa.fa-facebook-f
                        //li.list-inline-item
                            a.social-link(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item
                            a.social-link(href='https://www.instagram.com/nazhashem__/')
                                i.fa.fa-instagram
                        li.list-inline-item
                            a.social-link(href='https://www.linkedin.com/in/nazir-hashem/')
                                i.fa.fa-linkedin

            .col-xl-3.col-sm-6.mb-5.pad
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/defaultProfile.png' alt='' width='100')
                    h5.mb-0 Shubham Rawal
                    span.small.text-uppercase.text-muted COMP30022 Supervisor
                    br
                    br
                    br

            .col-xl-3.col-sm-6.mb-5
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/defaultProfile.png' alt='' width='100')
                    h5.mb-0 Mayank Sharma
                    span.small.text-uppercase.text-muted COMP30022 Supervisor
                    br
                    br
                    br


            .col-xl-3.col-sm-6.mb-5.pad
                .bg-white.rounded.shadow-sm.py-5.px-4
                    .circular
                        img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='/img/defaultProfile.png' alt='' width='100')
                    h5.mb-0 Leon Sterling
                    span.small.text-uppercase.text-muted COMP30022 Coordinator
                    br
                    br
                    br


    .container.py-5
        .row.text-center.text-white
            .col-lg-8.mx-auto
                h1.display-4 Our Products
                hr
                a(href='/')
                    img#profolio(src='/img/profolio-tight.png')

