doctype html
html
    head
        title ProFolio | Blogs
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Page icon
        link(rel='shortcut icon' href='/img/favicon1.ico' type='image/x-icon')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        // icons
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')

        // fontstyles (?)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')


        link(rel='stylesheet' type='text/css' href='/css/signin.css')    

    body
        style
            include ../public/css/blog.css

        nav.navbar.navbar-expand-lg.navbar-dark.fixed-top#colour
            .container#colour
                a.navbar-brand.go-to-user-blog(href='/blog-posts/'+blogAuthor) Blogs
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                if user 
                    .nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            img#navbarProfilePic(src='https://theprofolio.herokuapp.com/user/images/'+ user.profilePicID alt='no_image')
                            | #{user.first_name} #{user.last_name}
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/user/profile/') My Profile
                            a.dropdown-item(href='/blog-posts/'+user.username) My Blog Page
                            a.dropdown-item(data-toggle='modal' data-target='#contactModal') Manage Account
                            a.dropdown-item(data-toggle='modal' data-target='#passwordModal') Change Password
                            a.dropdown-item(href='/user/logout') Logout
                if !user    
                    a(data-toggle='modal' data-target='#loginModal')#white Login


                        
        br
        br

        block content
        script(src='/js/blogScript.js')
        script(src='/js/editBlogComment.js')
        script(src='/js/admin/adminScript.js')


br
br
br
br
br
// Footer
footer.py-4#colour
    .container
        p.m-0.text-center.text-white Tessagon

#passwordModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/change-password')
        .modal-dialog.modal-dialog-centered.modal-med
            .modal-content
                .modal-header
                    h5.modal-title Change Password
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    input.form-control(name='old_password' type='password' autofocus='' required='isRequired')
                    label Current Password
                    br
                    input.form-control(name='new_password' type='password' autofocus='' required='isRequired' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Password must be at least 8 characters and contain 1 number')
                    label New Password
                    br
                    input.form-control(name='new_password1' type='password' autofocus='' required='isRequired' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Password must be at least 8 characters and contain 1 number')
                    label Re-enter New Password
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save Changes

#loginModal.topModal.modal.fade.customLogin
        .modal-dialog.modal-dialog-centered.modal-wider
            .modal-content
                .modal-header#logo
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    img(src="/img/profolio-tight.png" width= 300 height= 70)
                    h4.modal-title Login
                .modal-body
                    form(method='POST' action='/user/login-modal')
                        .form-label-group
                            input#inputUsername.form-control.btntbn2(name= 'username' type='text' placeholder='Username' required='' autofocus='')
                            label(for='inputUsername') Username
                        .form-label-group
                            input#inputPassword.form-control.btntbn2(name='password' type='password' placeholder='Password' required='')
                            label(for='inputPassword') Password
                        .custom-control.custom-checkbox.mb-3
                            input#customCheck1.custom-control-input(type='checkbox')
                            label.custom-control-label(for='customCheck1') Remember password
                        br
                        button.btn.btn-lg.btn-primary1.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2#btntbn(type='submit') Sign in
                        br
                        a.button.btn.btn-lg.btn-google.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2#btntbn(href='/user/auth/google')
                            i.fa.fa-google.mr-2
                            |  Sign in with Google
                    
                        a(href='/user/signup') Register for your own ProFolio!
                        br
                        a(href='/user/forgot-password') Forgot Password?

if user
    #contactModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
        form(method='POST' action='/user/editNavInfo')
            .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h5#contactModalLabel.modal-title Edit Contact Information
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        label Contact number (E.g 0412 345 678)
                        input#contactNumber.form-control(name="phone_number" type='tel' placeholder='phone' autofocus='' required='isRequired' value = user.phone_number)
                        br
                        label City
                        input#inputCity.form-control(name="city" type='text' placeholder='City' autofocus='' required='isRequired' value = user.city)
                        br
                        label State
                        input#inputState.form-control(name="state" type='text' placeholder='State' autofocus='' required='isRequired' value = user.state)
                        br
                        label Email address
                        input#inputEmail.form-control(name='email' type='email' placeholder='Email address' required='' value = user.email)
                        label Facebook
                        input.form-control(name='facebook' type='text' autofocus='' value = user.links.facebook)
                        br
                        label Twitter
                        input.form-control(name='twitter' type='text' autofocus='' value = user.links.twitter)
                        br
                        label Github
                        input.form-control(name='github' type='text' autofocus='' value = user.links.github)
                        br
                        label Instagram
                        input.form-control(name='instagram' type='text' autofocus='' value = user.links.instagram)
                        br
                        label LinkedIn
                        input.form-control(name='linkedIn' type='text' autofocus='' value = user.links.linkedIn)
                        br
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-secondary(type='submit') Save changes