doctype html
html
    // starter template from bootstrap
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Page icon
        link(rel="icon" href='../img/favicon1.ico')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        // icons
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')

        style
            include ../public/css/signin.css
            include ../public/css/signup.css
block content
    if message
            div#on-top(style='text-align: center' class='alert alert-'+message.type)
                button.close(type='button' data-dismiss='alert') &times;
                strong #{message.intro}
                |  #{message.message}
    .container-fluid
        .row.no-gutter
            .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
            .col-md-8.col-lg-6#white-background
                .login.d-flex.align-items-center.py-5
                    .container
                        .row
                            .col-md-9.col-lg-8.mx-auto
                                #logo
                                    img(src="../img/profolio-tight.png" width= 300 height= 70)
                                br
                                br

                                h3.mb-4#hi Need help with your password?
                                h5.login-heading.mb-4#hi Enter the email you use for ProFolio, and we'll help you create a new password.
                                br
                                .container
                                    form(method='POST', action='/user/forgot-password')
                                        .form-label-group
                                            input#inputEmail.form-control(name='email' type='email' placeholder='Email' required='isRequired')
                                            label(for='inputEmail') Email
                                        button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit') Reset password
                                    hr.my-4

