doctype html
html
    // starter template from bootstrap
    head
        title ProFolio
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Page icon
        link(rel="icon" href='/img/favicon.ico')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        // icons
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
        //script(type='text/javascript' src='js/form.js')
        script(type='text/javascript' src='/js/dynamicForm.js')
        script(type='text/javascript' src='/js/formSteps.js')
        script(type='text/javascript' src='/js/typewriter.js')



        style
            include ../public/css/form.css
            include ../public/css/style.css
            include ../public/css/signup.css

block content
    .container
        .row
            .col-lg-10.col-xl-9.mx-auto
                .card.card-signin.flex-row.my-5
                    .card-body#lessPadding
                        form#regForm(method='POST', action='/user/populateInfo/' enctype='multipart/form-data').form-signin
                            h#loading Creating your ProFolio...
                            .tab
                                h5.card-title.text-center Basic Information
                                .form-label-group
                                    input#inputFirstname.form-control(name="first_name" type='text' placeholder='Firstname' autofocus='' required='isRequired')
                                    label(for='inputFirstname') Firstname
                                .form-label-group
                                    input#inputSurname.form-control(name="last_name" type='text' placeholder='Surname' required='isRequired')
                                    label(for='inputSurname') Surname
                                hr  
                                .form-row
                                    .form-label-group.col-md-12
                                        input#contactNumber.form-control(name="phone_number" type='tel' placeholder='phone' autofocus='' pattern='[0-9]{4} [0-9]{3} [0-9]{3}' required='isRequired' )
                                        label(for='contactNumber') Contact number (E.g 0412 345 678)
                                    .form-label-group.col-md-6
                                        input#inputCity.form-control(name="city" type='text' placeholder='City' autofocus='' required='isRequired')
                                        label(for='inputCity') City
                                    .form-label-group.col-md-6
                                        input#inputState.form-control(name="state" type='text' placeholder='State' autofocus='' required='isRequired')
                                        label(for='inputState') State
                            .tab
                                h5.card-title.text-center About yourself
                                .form-label-group.col-md-12
                                    input#Aboutme.form-control(name="bio" type='text' placeholder='Aboutme' autofocus='' maxlength='500' required='isRequired')
                                    label#AboutmeLabel(for='Aboutme') Tell me about yourself! Max 500 characters.
                                .form-group
                                label(for='uploadResume') Upload your resume!
                                input#uploadResume.form-control-file(name='resume' type='file' accept="application/pdf")
                                br
                                label(for='uploadProfilePic') Upload a picture of yourself!
                                input#uploadProfilePic.form-control-file(name='propic' type='file')
                                hr
                            .tab
                                h5.card-title.text-center Experience
                                div(data-role='dynamic-fields')
                                    .form-inline
                                        .form-group.col-md-6
                                            input.round.form-control(id='company' name= "company" type='text' placeholder='Company' autofocus='' required='isRequired' style='width:24vw')
                                        .form-group.col-md-6
                                            input.round.form-control(name= "role" type='text' placeholder='Role Name' autofocus='' required='isRequired' style='width:24vw')
                                        br
                                        .form-group.col-md-12
                                            label(for='descriptionExp') Tell us about your experience (max 500 characters)...
                                            input.desc.round.form-control(id='descriptionExp' name="descriptionExp" type='text' placeholder='Description' autofocus='' maxlength='500' required='isRequired' style='width:40vw')
                                        .dates
                                        label(for='startDate') Start date:
                                        input#startDate(name= "experienceStartDate" type='month' required='isRequired')
                                        .col-md-2.dates
                                        label(for='endDate') End date:
                                        input#endDate(name= "experienceEndDate" type='month' required='isRequired')
                                        button.btn.btn-danger(data-role='remove')
                                            span.glyphicon.glyphicon-remove
                                        button.btn.btn-primary(data-role='add')
                                            span.glyphicon.glyphicon-plus
                            .tab
                                h5.card-title.text-center Education
                                div(data-role='dynamic-fields')
                                    .form-inline
                                        .form-group.col-md-6
                                            input.round.form-control(id= 'university' name= "university" type='text' placeholder='University' autofocus=''  required='isRequired' style='width:24vw')
                                        .form-group.col-md-6
                                            input.round.form-control(id= 'degree' name= "degree" type='text' placeholder='Degree' autofocus='' required='isRequired' style='width:24vw')
                                        br
                                        .form-group.col-md-12
                                            label(for='descriptionEdu') Tell us about your education (max 500 characters)...
                                            input.desc.round.form-control(id='descriptionEdu' name="descriptionEdu" type='text' placeholder='Description' autofocus='' maxlength='500' required='isRequired' style='width:40vw')
                                        .dates
                                        label(for='uniStartDate') Start date:
                                        input#uniStartDate(name= "educationStartDate" type='month' required='isRequired')
                                        .col-md-2.dates
                                        label(for='uniEndDate') End date:
                                        input#uniEndDate(name= "educationEndDate" type='month' required='isRequired')
                                        button.btn.btn-danger(data-role='remove')
                                            span.glyphicon.glyphicon-remove
                                        button.btn.btn-primary(data-role='add')
                                            span.glyphicon.glyphicon-plus
                            .tab
                               
                                .col-md-12
                                    br
                                    h5.card-title.text-center Skills
                                    p List down some of your skills!
                                    div(data-role='dynamic-fields')
                                        .form-inline
                                            .form-group.col-md-12
                                                input.round.form-control(id='skills' name= "skills" type='text' placeholder='Skills' autofocus='' required='isRequired' style='width:18vw')
                                                button.btn.btn-danger(data-role='remove')
                                                    span.glyphicon.glyphicon-remove
                                                button.btn.btn-primary(data-role='add')
                                                    span.glyphicon.glyphicon-plus
                                .col-md-12
                                    br
                                    h5.card-title.text-center Typewriter
                                    p Words to describe yourself!
                                    div(data-role='dynamic-fields')#moved
                                        .form-inline
                                            .form-group.col-md-12
                                                input.round.form-control(id='typewriter' name= "typewriter" type='text' placeholder='Word' autofocus='' required='isRequired' style='width:18vw')
                                                button.btn.btn-danger(data-role='remove')
                                                    span.glyphicon.glyphicon-remove
                                                button.btn.btn-primary(data-role='add')
                                                    span.glyphicon.glyphicon-plus
                            div(style='overflow:auto;')
                                div
                                    button.btn.btn-lg.btn-primary.btn-block.text-uppercase#nextBtn(type='button' onclick='nextPrev(1)') Next
                                    button.btn.btn-lg.btn-primary.btn-block.text-uppercase#prevBtn(type='button' onclick='nextPrev(-1)') Previous
                                    p#creating
                                        | Creating your ProFolio
                                        span.txt-rotate(data-period='1000' data-rotate='[....]')
                            div(style='text-align:center;margin-top:40px;')
                                span.step
                                span.step
                                span.step
                                span.step
                                span.step


//Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
script(type='text/javascript' src='/js/formSteps.js')