extends layout

block content
    .container
        .row
            .col-lg-10.col-xl-9.mx-auto
                .card.card-signin.flex-row.my-5
                    .card-body
                        h5.card-title.text-center Basic Information!
                        form.form-signin
                            .form-label-group
                                input#inputUserame.form-control(type='text' placeholder='Firstname' required='' autofocus='')
                                label(for='inputUserame') Firstname
                            .form-label-group
                                input#inputEmail.form-control(type='email' placeholder='Surname' required='')
                                label(for='inputEmail') Surname
                            hr       
                        form
                            .form-row
                                .form-label-group.col-md-6
                                    input#inputEmail4.form-control(type='email' placeholder='Email' autofocus='')
                                    label(for='inputEmail4') Email
                                .form-label-group.col-md-6
                                    input#contactNumber.form-control(type='tel' placeholder='contactNumber' autofocus='' )
                                    label(for='contactNumber') Contact number
                            .form-label-group
                                input#inputCity.form-control(type='text' placeholder='City' autofocus='')
                                label(for='inputCity') City
                            .form-label-group
                                input#inputState.form-control(type='text' placeholder='State' autofocus='')
                                label(for='inputState') State
                            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Next
