extends layout

block content
    .container
        .row
            .col-lg-10.col-xl-9.mx-auto
                .card.card-signin.flex-row.my-5
                    .card-body
                        h5.card-title.text-center Basic Information.               
                        form(method='POST', action='/signup').form-signin 
                            .form-label-group
                                input#inputFirstname.form-control(type='text' placeholder='Firstname' autofocus='' required='isRequired')
                                label(for='inputFirstname') Firstname
                            .form-label-group
                                input#inputSurname.form-control(type='text' placeholder='Surname' required='')
                                label(for='inputSurname') Surname
                            hr       
                            .form-row
                                .form-label-group.col-md-6
                                    input#inputEmail4.form-control(type='email' placeholder='Email' autofocus='')
                                    label(for='inputEmail4') Email
                                .form-label-group.col-md-6
                                    input#contactNumber.form-control(type='tel' placeholder='phone' name='contactNumber' autofocus='' pattern='[0-9]{4} [0-9]{3} [0-9]{3}' )
                                    label(for='contactNumber') Contact number (E.g 0412 345 678)
                                .form-label-group.col-md-6
                                    input#inputCity.form-control(type='text' placeholder='City' autofocus='')
                                    label(for='inputCity') City
                                .form-label-group.col-md-6
                                    input#inputState.form-control(type='text' placeholder='State' autofocus='')
                                    label(for='inputState') State
                                hr
                                .form-label-group.col-md-12 
                                    input#Aboutme.form-control(type='text' placeholder='Aboutme' autofocus='' maxlength='500')
                                    label(for='Aboutme') Tell me about yourself! Max 500 characters.
                                .form-group
                                label(for='exampleFormControlFile1') Upload your resume!
                                input#exampleFormControlFile1.form-control-file(type='file')
                                br
                                hr
                                .col-md-12 
                                    h5.card-title.text-center Experience
                                .form-label-group.col-md-6
                                    input#inputCompany.form-control(type='text' placeholder='companyName' autofocus='')
                                    label(for='companyName') Company
                                .form-label-group.col-md-6
                                    input#inputRole.form-control(type='text' placeholder='roleName' autofocus='')
                                    label(for='roleName') Role Title
                                .col-md-6#dates
                                    label(for='start') Start date:      
                                    input#EndDate(type='date' name='job-start' value='2018-07-22' min='2000-01-01' max='2020-12-31')
                                .col-md-6#dates
                                    label(for='end') End date:     
                                    input#EndDate(type='date' name='job-end' value='2018-07-22' min='2018-01-01' max='2020-12-31')  
                                .col-md-12 
                                    h5.card-title.text-center Education
                                .form-label-group.col-md-6
                                    input#inputCompany.form-control(type='text' placeholder='companyName' autofocus='')
                                    label(for='universityName') University
                                .form-label-group.col-md-6
                                    input#inputRole.form-control(type='text' placeholder='roleName' autofocus='')
                                    label(for='roleName') Degree
                                .col-md-6#dates
                                    label(for='start') Start date:      
                                    input#EndDate(type='date' name='job-start' value='2018-07-22' min='2000-01-01' max='2020-12-31')
                                .col-md-6#dates
                                    label(for='end') End date:     
                                    input#EndDate(type='date' name='job-end' value='2018-07-22' min='2018-01-01' max='2020-12-31')  
                                br
                                br
                                button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Submit


                            
                
