extends layout 

block content
    br
    .container
        h1.display-4 Hello,
        h2.display-4 a bit about me...
        p.lead
            | Your About Me page should appear directly after your homepage. It is a space for you to 
            | introduce yourself and your ePortfolio to your readers. It helps your readers understand your goals, 
            | your work ethic and your attitude toward life.  It should contain a reflective analysis of your eportfolio. 
            |It should articulate what you have learned throughout your high school education and what you have come to discover 
            | yourself as a student while compiling this portfolio.
        hr.my-4
        
        p
            | It uses utility classes for typography and spacing to space content out within the larger container.
        p.lead
            a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
