doctype html
html
    // starter template from bootstrap
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        // icons
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')

        style
            include ../public/css/signin.css
            include ../public/css/signup.css
block content
    .container-fluid
        .row.no-gutter
            .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
            .col-md-8.col-lg-6#white-background
                .login.d-flex.align-items-center.py-5
                    .container
                        .row
                            .col-md-9.col-lg-8.mx-auto
                                h3.login-heading.mb-4#hi Welcome back!
                                form(method='POST', action='/user/login')
                                    .form-label-group
                                        input#inputUsername.form-control(name= 'username' type='text' placeholder='Username' required='' autofocus='')
                                        label(for='inputUsername') Username
                                    .form-label-group
                                        input#inputPassword.form-control(name='password' type='password' placeholder='Password' required='')
                                        label(for='inputPassword') Password
                                    .custom-control.custom-checkbox.mb-3
                                        input#customCheck1.custom-control-input(type='checkbox')
                                        label.custom-control-label(for='customCheck1') Remember password
                                    button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit') Sign in
                                    hr.my-4
                                    button.btn.btn-lg.btn-google.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit')
                                        i.fa.fa-google.mr-2
                                        |  Sign in with Google
                                    .text-center
                                        a.small(href='#') Forgot password?
                                        br
                                        a.small(href='/signup') Sign up!
                                        br
                                        a.small(href='/user/auth/google') Sign in with Google

