extends layout

block content
    .container
        .row
            .col-lg-10.col-xl-9.mx-auto
                .card.card-signin.flex-row.my-5
                    .card-img-left.d-none.d-md-flex
                    .card-body
                        h5.card-title.text-center Register
                        form.form-signin
                            .form-label-group
                                input#inputUserame.form-control(type='text' placeholder='Username' required='' autofocus='')
                                label(for='inputUserame') Username
                            .form-label-group
                                input#inputEmail.form-control(type='email' placeholder='Email address' required='')
                                label(for='inputEmail') Email address
                            hr
                            .form-label-group
                                input#inputPassword.form-control(type='password' placeholder='Password' required='')
                                label(for='inputPassword') Password
                            .form-label-group
                                input#inputConfirmPassword.form-control(type='password' placeholder='Password' required='')
                                label(for='inputConfirmPassword') Confirm password
                            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Register
                            a.d-block.text-center.mt-2.small(href='#') Sign In
                            hr.my-4
                            button.btn.btn-lg.btn-google.btn-block.text-uppercase(type='submit')
                                i.fab.fa-google.mr-2
                                |  Sign up with Google