doctype html
html
  // starter template from bootstrap
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    // icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Page icon
    link(rel="icon" href='../img/favicon1.ico')

    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
    script(type='text/javascript' src='/js/signup.js')
    style
      include ../public/css/signin.css
      include ../public/css/signup.css

block content
    if message
        div(style='text-align: center' class='alert alert-'+message.type)
            button.close(type='button' data-dismiss='alert') &times;
            strong #{message.intro}
            |  #{message.message}
    .container
        .row
            .col-lg-10.col-xl-9.mx-auto
                .card.card-signin.flex-row.my-5
                    .card-img-left.d-none.d-md-flex
                    .card-body
                        h5.card-title.text-center Register
                        form.form-signin(method='POST', action='/user/signup')
                            .form-label-group
                                input#inputUserame.form-control(name='username' type='text' placeholder='Username' required='' autofocus='')
                                label(for='inputUserame') Username
                                span#uname_response
                            .form-label-group
                                input#inputEmail.form-control(name='email' type='email' placeholder='Email address' required='')
                                label(for='inputEmail') Email address
                            hr
                            .form-label-group
                                input#inputPassword.form-control(name='password' type='password' placeholder='Password'  required='' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}')
                                label(for='inputPassword') Password
                            .form-label-group
                                input#inputConfirmPassword.form-control(name='password2' type='password' placeholder='Password' required='' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}')
                                label(for='inputConfirmPassword') Confirm password
                                != messages('message', locals)
                                if errors
                                    each error, i in errors
                                        div(class="alert alert-fixed") #{error.msg}
                                small#emailHelp.form-text.text-muted Password must contain at least one number, one uppercase letter and at least 8 or more characters.

                            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Register
                            a.d-block.text-center.mt-2.small(href='/') Already have an account? Sign In!
                            hr.my-4
                            a.button.btn.btn-lg.btn-google.btn-block.text-uppercase(href='/user/auth/google')
                                i.fa.fa-google.mr-2 |  Sign up with Google
