.body {
	font-family: 'Open Sans', sans-serif;
}
#commentProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 4vw;
    margin-right: 4px;
}
#navbarProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 2vw;
    margin-right: 1vw;
}   
#up {
    margin-top: -1vw;
}
#borderComment{
    padding: 1vw;
    border-radius: 1vw;
}
#edit-comment-form{
    display: none;
    z-index: 9999;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

#white {
    color: white;
}

#colour {
    background-color: #334f60;

}
#black {
    color: black;
}

#liked {
    color: black;
    font-size: 18px;
    background:url('/img/liked.svg') no-repeat;
}

body {
    background: url('/img/blogBackground.svg');
    background-attachment: fixed;
}

#AddBlogs {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
    overflow: hidden;
    padding: 5vw;
}

.cardStyle {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
}
.paddingBlogs {
    padding: 1vw;
}

.cardStyleViewBlog {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
    padding: 2vw;
}

.buttonMargin {
    width: 5vw;
}

#centre {
    text-align: center;
}

.blogProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Login Modal */
.modal-login {
	color: #636363;
	width: 350px;
	margin: 30px auto;
	z-index: 9999;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn {
	background: #00ce81;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #00bf78;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.btn-google {
	color: white;
	background-color: #ea4335;
}

#logo {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.makeCentre {
	justify-content: center;
	text-align: center;
}

@media (min-width: 768px) {
	.modal-wider {
		width: 25%;
		max-width:1200px;
	}
}
.topModal {
	z-index: 9000;
	margin-top: 15vh;
}

.btn-primary1 {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary1:hover, .btn-primary1:focus, .btn-primary1.focus, .btn-primary1:active, .btn-primary1.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary1 i.fa {
    margin-right: 10px;
}

#customLogin {
	box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

#btntbn {
	padding-bottom: 1vh;
	padding-top: 1vh;
	border-radius: 20px;
	font-size: 0.8vw;
	margin-bottom: 0vw;
}

#comment-top {
    font-weight: normal;
}
#indentComments {
    margin-left: 5vw;
}
#indentProfilePic {
    margin-left: 8vw;
}
