.body {
	font-family: 'Open Sans', sans-serif;
}
#commentProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 4vw;
    margin-right: 4px;
}
#navbarProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 2vw;
    margin-right: 1vw;
}   
#up {
    margin-top: -1vw;
}
#borderComment{
    padding: 1vw;
    border-radius: 1vw;
}
#edit-comment-form{
    display: none;
    z-index: 9999;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

#colour {
    background-color: #334f60;

}
#black {
    color: black;
}

#liked {
    color: black;
    font-size: 18px;
    background:url('/img/liked.svg') no-repeat;
}

body {
    background: url('/img/blogBackground.svg');
    background-attachment: fixed;
}

#AddBlogs {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
    overflow: hidden;
    padding: 5vw;
}

.cardStyle {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
}
.paddingBlogs {
    padding: 1vw;
}

.cardStyleViewBlog {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.2vh 0.2vw 1.5vh #000000;
    padding: 2vw;
}

.buttonMargin {
    width: 5vw;
}

#centre {
    text-align: center;
}

.blogProfilePic {
    border-radius: 20vw;
    border: 1px solid ;
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#comment-top {
    font-weight: normal;
    margin-top: 0.5vh;
}
#indentComments {
    margin-left: 5vw;
}
#indentProfilePic {
    margin-left: 8vw;
}

.like-comment {
    margin-top: -2.5vh;
    margin-bottom: -2.5vh;
}

.media-body {
    padding-left: 3vw;
}
