body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 500;
}

h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
/*.intro {

#homescreen {
	margin-top: 30vh;
}
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}*/
.intro {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
}

.background {
	display: table;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #7bc3d1;
}
.section-title.center {
	padding: 25px 0 45px 0;
}
/* About Section */
#about {
	padding: 100px 0;
	background: #f6f6f6;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Skills Section */
#skills {
	padding: 100px 0;
	background: #7bc3d1;
}
#skills h2 {
	color: #fff;
}
#skills hr {
	background: rgba(255,255,255,0.3);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
/* Portfolio Section */
#portfolio {
	padding: 80px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	background: #7bc3d1;
	color: #fff;
	padding: 6px 14px;
}
ol.type li a.active {
	background: #121d1f;
	color: #fff;
}
ol.type li a:hover {
	background: #121d1f;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Achivements Section */
#achievements {
	padding: 100px 0;
	background: #7bc3d1;
}
#achievements h2 {
	color: #fff;
}
#achievements hr {
	background: rgba(255,255,255,0.3);
}
.achievement-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}
/* Resume Section */
#education {
	padding: 100px 0;
	background: #f6f6f6;
}
.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	background-color: #eee;
}
.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 70px;
	height: 70px;
	margin-left: 0;
	border: 1px solid #eee;
	border-radius: 100%;
	text-align: center;
	background: #fff;
}
.timeline>li .timeline-image h4 {
	margin-top: 20px;
	font-size: 14px;
	text-transform: uppercase;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.timeline .timeline-heading h2 {
	margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #629ca7;
	font-size: 20px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
}
/* Experience Section */
#experience {
	padding: 100px 0;
	background: #f6f6f6;
}
/* Contact Section */
#contact {
	padding: 100px 0 40px 0;
	color: #121d1f;
	background: #7bc3d1;
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.3);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
#contact .btn {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #121d1f;
	border: 1px solid #121d1f;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background-color: #334f60;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}

/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 700;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}
.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {
	margin-top: 16px;
	line-height: 18px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 30px;
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 40px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}

/**{box-sizing: border-box;}*/


.topModal {
	z-index: 9000;
	margin-top: 15vh;
}

.ToptopModal {
	z-index: 9999;
	margin-top: 15vh;
}

#AboutMe {
	padding-bottom: 25vh;
	padding-left: 1.15vw;
}
.dateSize {
	font-size: 13px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
  
.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}
  
.nav-menu a {
	display: flex;
	align-items: center;
	color: #45505b;
	padding: 10px 18px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;
	border-radius: 50px;
	background: #f2f3f5;
	height: 56px;
	width: 100%;
	overflow: hidden;
	transition: 0.3s;
}
  
.nav-menu a i {
	font-size: 20px;
}
  
.nav-menu a span {
	padding: 0 5px 0 7px;
	color: #45505b;
}
  
@media (min-width: 992px) {
	.nav a {
	  width: 56px;
	}
	.nav a span {
	  display: none;
	  color: #fff;
	}
}
  
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
	color: #fff;
	background: #0563bb;
}
  
.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
	color: #fff;
}
  
.nav-menu a:hover, .nav-menu li:hover > a {
	width: 100%;
	color: #fff;
}
  
.nav-menu a:hover span, .nav-menu li:hover > a span {
	display: block;
}
  
/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}
  
.mobile-nav-toggle i {
	color: #45505b;
}
  
.mobile-nav-active {
	overflow: hidden;
}
  
.mobile-nav-active #header {
	left: 0;
}
  
.mobile-nav-active .mobile-nav-toggle i {
	color: #0563bb;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9997;
	transition: all 0.5s;
	padding: 15px;
	padding-top: 20vh;
	overflow-y: auto;
}
  
@media (max-width: 992px) {
	#header {
	  width: 300px;
	  background: #fff;
	  border-right: 1px solid #e6e9ec;
	  left: -300px;
	}
}
#hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
  }
#nav {
	z-index: 9500;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}

.navbar-icons {
	padding-top: 10px;
}
.navbar-icons:hover{
 padding-top: 0px;
}

#navbarProfilePic {
	border-radius: 20vw;
	border: 1px solid ;
	width: 2vw;
	margin-top: -0.4vw;
	margin-right: 1vw;
}   
#up {
	margin-top: -1vw;
}
#colour {
	background-color: #334f60;
	padding: 5px;

}
#positionRight{
	float: right;
	margin-top: 15px;

}
#navbarDropdownMenuLink{
	color: white;
	text-align: center;
}
#dropdown-item {
	font-size: 15px;
	padding: 5px;
	padding-left: 20px;
}
.navbar-brand {
	color: white;
}
#down {
	margin-bottom: -13px;
}

.padButton {
	margin: 0.5vw;
}

.wide {
	width: 50vw;
	margin-top: 2vh;
	color: black;
}

.edit-experience {
	margin-left: 2vw;
}

.padDate {
	margin-left: 0.5vw;
}
.navbar-brand:hover{
	color: white;
}

.navbar-icons {
	padding-top: 10px;
}
.navbar-icons:hover{
 padding-top: 0px;
}

.navbar-custom {
	margin-bottom: 0;
	background-color: #334f60;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.topnavbar {
	margin-left: 10px;
	margin-right: 10px;
}
#homescreen {
	margin-top: 30vh;
}

#alert {
	z-index: 9600;
	position: absolute;
	top: 10%;
	left: 30%;
	width: 40%;
}

/* cards */
.card {
	/* Add shadows to create the "card" effect */
  background-color:white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1vw;
  transition: 0.5s ease;
  cursor: pointer;
  width: 12vw;
  margin: 1vw;
}

.card:hover {
	transform: scale(1.15);
	box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
  
/* Add some padding inside the card container */
.container {
	padding: 2px 16px;

}

/* Float four columns side by side */
.column {
	float: left;
	width: 20%;
	padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* ----- skills ----*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
a.reset {
  background: #787f81;
  border-radius: 24px;
  bottom: 20px;
  color: #fff;
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in;
  width: 140px;
  margin: auto;
}
a.reset:hover {
  background: #535859;
  text-decoration: none;
}

.dot{
	display: block;
}
div.dot {
  background: #8599b0;
  border-radius: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
  display: block;
  
}
div.dot.top {
  z-index: 15;
}
div.dot.mid {
  z-index: 10;
  margin-left: 10vw;
  margin-bottom: 10vh;

}
div.dot.btm {
  z-index: 5;
  margin-left: 20vw;
  margin-bottom: 20vh;

  
}
div.dot.dot1 {
  animation: pickup1 1.5s 1 forwards;
  margin: auto;
}
div.dot.dot2 {
  animation: pickup2 1.5s 1 forwards;
}
div.dot.dot3 {
  animation: pickup3 1.5s 1 forwards;
}
@keyframes pickup1 {
  0% {
    background: #8599b0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    background: #94a6ba;
    box-shadow: 0 100px 30px rgba(0, 0, 0, 0.1);
    transform: scale3d(1, 0.9, 1) translate3d(0, -150%, 0);
  }
  100% {
    background: #8599b0;
    box-shadow: none;
    transform: scale3d(1, 1, 1) translate3d(0, -125%, 0);
  }
}
@keyframes pickup2 {
  0% {
    background: #8599b0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    background: #8ea1b6;
    box-shadow: 0 80px 20px rgba(0, 0, 0, 0.15);
    transform: scale3d(1, 0.9, 1) translate3d(0, -150%, 0);
  }
  100% {
    background: #8599b0;
    box-shadow: none;
    transform: scale3d(1, 1, 1) translate3d(0, -125%, 0);
  }
}
@keyframes pickup3 {
  0% {
    background: #8599b0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    background: #889cb2;
    box-shadow: 0 60px 10px rgba(0, 0, 0, 0.3);
    transform: scale3d(1, 0.9, 1) translate3d(0, -150%, 0);
  }
  100% {
    background: #8599b0;
    box-shadow: none;
    transform: scale3d(1, 1, 1) translate3d(0, -125%, 0);
  }
}

.fade-in {
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation: fadeIn ease 10s;
}
@keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-moz-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-webkit-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-o-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-ms-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
.holder {
	display: block;
	margin-top: 14vh;
}
#dots {
	margin-top: 9vh;
	display: inline-block ; 
	transform: translate(-50%, -50%);
}
#navbarProfilePic {
	border-radius: 20vw;
	border: 1px solid ;
	width: 2vw;
	margin-right: 1vw;
}

#login {
	float: right;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: white;
}


/* Login Modal */

.modal-login {
	color: #636363;
	width: 350px;
	margin: 30px auto;
	z-index: 9999;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn {
	background: #00ce81;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #00bf78;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.btn-google {
	color: white;
	background-color: #ea4335;
}

nav.nav-menu {
	font-family: 'Open Sans', sans-serif;
}
#BlogButton {
	margin-left: 1vw;
}
* {
	font-family: 'Open Sans', sans-serif;
}
