.fa-linkedin-square:hover{
    color: rgb(14,118,168);
    font-weight: 1000;
}
.fa-google-plus:hover {
    color: rgb(219,74,57);
    font-weight: 1000;
}
.fa-user-o:hover {
    font-weight: 1000;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}
/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

#white-background {
  background-color: white;
}
#contactNumber {
  padding-left: 1.15vw;
}
#inputEmail4 {
  padding-left: 1.15vw;
}
#inputCity {
  padding-left: 1.15vw;
}
#inputState {
  padding-left: 1.15vw;
}
#Aboutme {
  padding-bottom: 5vh;
  padding-left: 1.1vw;
  padding-right: 2vw;
}
#AboutmeLabel {
  padding-bottom: 5vh;
  padding-left: 1.5vw;
}
.desc {
  padding-bottom: 10vh;
  padding-left: 1.15vw;
}

#companyName {
  padding-left: 1.15vw;
}

#roleName {
  padding-left: 1.15vw;
}

#degree {
  padding-left: 1.15vw;
}

#universityName {
  padding-left: 1.15vw;
}
.dates {
  padding: 0.5vh;
  padding: 0.5vw;
  margin-bottom: 5vh;
}
#endDate{
  margin-left: 0.5vw;
}
#startDate{
  margin-left: 0.5vw;
}
#EndDate{
  margin-left: 0.5vw;
}
#StartDate{
  margin-left: 0.5vw;
}
#uniEndDate{
  margin-left: 0.5vw;
}
#uniStartDate{
  margin-left: 0.5vw;
}
#navbarProfilePic {
  border-radius: 20vw;
  border: 1px solid ;
  width: 2vw;
  margin-right: 1vw;
}   
#up {
  margin-top: -1vw;
}
#moved {
  margin-left: 2vw;
}